node_modules
package-lock.json
bot/node_modules
webapp/node_modules
bot/package-lock.json
.idea

# Environment files
twitter.env
.env*
**/.env*
/webapp/dist/
# Hardhat build artifacts
artifacts/
cache/
*.abi
*.bin

# .NET build artifacts
**/bin/
**/obj/
