node_modules
package-lock.json
bot/node_modules
webapp/node_modules
bot/package-lock.json
.idea
webapp/android/gradle/wrapper/gradle-wrapper.jar
webapp/android/app/src/main/assets/public/
webapp/ios/App/App/public/
webapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
webapp/ios/App/App/Assets.xcassets/Splash.imageset/

# Environment files
twitter.env
.env*
**/.env*
/webapp/dist/
# Hardhat build artifacts
artifacts/
cache/
*.abi
*.bin

# .NET build artifacts
**/bin/
**/obj/
