services:
  - type: web
    runtime: node
    name: tonplaygram-api
    branch: main
    rootDir: bot
    buildCommand: npm install && npm --prefix ../webapp install && npm --prefix ../webapp run build
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        fromSecret: MONGO_URI
      - key: BOT_TOKEN
        fromSecret: BOT_TOKEN

  - type: web
    runtime: static
    name: tonplaygram-fe
    branch: main
    rootDir: webapp
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    envVars:
      - key: VITE_GOOGLE_CLIENT_ID
        fromSecret: GOOGLE_CLIENT_ID

